$gamboge    : rgb(218, 170, 14);
$inch-worm  : rgb(127, 236, 55);
$white      : rgb(255, 255, 255);
$gray       : rgb(212, 213, 216);
$sulu       : rgb(170, 240, 113);
$blue       : rgb(58, 107, 212);
$black      : rgb(49, 49, 48);